body {
    font-family: 'Raleway', sans-serif;
    margin: 40px auto;
    width: 70%;
    background-color: #fff;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 360px) {
    footer ul li {
        margin-right: 3% !important;
        margin-left: 3% !important;
    }
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-container {
    padding: 10px;
}
.navigation {
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}
nav ul, footer ul {
    text-align: end;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer {
    font-size: .8em;
    display: inline;
}
.foot {
    border-top: 1px solid #d5d5d5;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #2E90C4;
}
a:hover {
    text-decoration: underline;
}
.header {
    background-color: #004A8F;
    border-radius: 12px;
}
.headshot-pic {
    margin:10px;
}
h1 {
    font-size: 3em;
    color: #fff;
    padding: 10px;
}
h2 {
    background-color: #454E9E;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.cv-area {
    margin-bottom: 50px;
}