@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px !important;
	font-size: $sizeValue + rem !important;
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}