<footer class="mdl-mega-footer mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
    <div class="mdl-mega-footer__middle-section center-footer-items">

        <!-- ** MaylorTaylor -->
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Maylor Taylor</h3>
            <ul class="mdl-mega-footer__link-list">
                <li>
                    <a href="mailto:maylortaylor@gmail.com">Email</a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/maylortaylor">Github</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/matthew-taylor-8675309/">LinkedIn</a>
                </li>
                <li>
                    <a target="_blank" href="https://stackoverflow.com/users/1848526/maylortaylor">StackOverflow</a>
                </li>
            </ul>
        </div>

        <!-- ** Things -->
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Things I Like</h3>
            <ul class="mdl-mega-footer__link-list">
                <li>
                    <a href="https://www.kindafunny.com/" target="_blank">
                        Kinda Funny
                    </a>
                </li>
                <li>
                    <a href="https://www.rocketleague.com/" target="_blank">
                        Rocket League
                    </a>
                </li>
                <li>
                    <a href="https://www.factorio.com/blog/" target="_blank">
                        Factorio
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/flutter-community" _blank">
                        Medium - #Flutter
                    </a>
                </li>
            </ul>
        </div>

        <!-- ** Music -->
        <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Music I Like</h3>
            <ul class="mdl-mega-footer__link-list">
                <li>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_nuW1UaZc0--8a_BsoqjrXyuGDHvbW6H4U" target="_blank">
                        Lotus
                    </a>
                </li>
                <li>
                    <a href="https://music.youtube.com/watch?v=dEP0Gi8kZhg&feature=share" target="_blank">
                        Tycho
                    </a>
                </li>
                <li>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_lj-Y9iJ2plODVt1TEoMmiDRfpR2mSBQCg" target="_blank">
                        Keller Williams
                    </a>
                </li>
                <li>
                    <a href="https://music.youtube.com/channel/UCtOUodyB33dhRELabN894qw" target="_blank">
                        Aqueous
                    </a>
                </li>
                <li>
                    <a href="https://music.youtube.com/playlist?list=OLAK5uy_mq5vX-bGkt2Dx4-6WKliHnYShG07QbB-M" target="_blank">
                        Boombox
                    </a>
                </li>
            </ul>
        </div>

        <!-- ** SOCIAL MEDIA -->
        <!-- <div class="mdl-mega-footer__drop-down-section">
            <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
            <h3 class="mdl-mega-footer__heading">Social Media</h3>
            <ul class="mdl-mega-footer__link-list">
                <li>
                    <a href="https://twitter.com/maylordev" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                        @MaylorDev
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/matthew-taylor-8675309/">
                        <i class="fab fa-linkedin"></i>
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/users/1848526/maylortaylor">
                        <i class="fab fa-stack-overflow"></i>
                        StackOverflow
                    </a>
                </li>
                <li>
                    <a href="https://github.com/maylortaylor">
                        <i class="fab fa-github-square"></i>
                        Github
                    </a>
                </li>
            </ul>
        </div> -->

    </div>

</footer>

<ul class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-mega-footer__link-list">
    <div class="mdl-grid mdl-grid--no-spacing center-text">
        <li class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <a href="https://twitter.com/maylordev" target="_blank">
                <i class="fab fa-twitter-square"></i>
                @MaylorDev
            </a>
        </li>
        <li class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <a href="https://www.linkedin.com/in/matthew-taylor-8675309/">
                <i class="fab fa-linkedin"></i>
                LinkedIn
            </a>
        </li>
        <li class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <a href="https://stackoverflow.com/users/1848526/maylortaylor">
                <i class="fab fa-stack-overflow"></i>
                StackOverflow
            </a>
        </li>
        <li class="mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
            <a href="https://github.com/maylortaylor">
                <i class="fab fa-github-square"></i>
                Github
            </a>
        </li>
    </div>
</ul>
<!-- ** NAVIGATION -->
<ul class="mdl-cell mdl-cell--12-col mdl-cell--12-col-phone mdl-mega-footer__link-list">
    <div class="mdl-grid mdl-grid--no-spacing center-text">
        <li class="mdl-cell mdl-cell--3-col mdl-cell--1-col-phone"><a href="/about">About</a></li>
        <li class="mdl-cell mdl-cell--3-col mdl-cell--1-col-phone"><a href="/cv">CV</a></li>
        <li class="mdl-cell mdl-cell--3-col mdl-cell--1-col-phone"><a href="/blog">Blog</a></li>
        <li class="mdl-cell mdl-cell--3-col mdl-cell--1-col-phone"><a href="/tags">Tags</a></li>
    </div>
</ul>