{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author }}">
	<title>{{ site.title }}{% if page.title %} | {{ page.title }} {% endif %}</title>

	<link rel="shortcut icon" href="../assets/media/face.png">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
	<!-- <script defer src="{{ '/assets/js/fontawesome/all.min.js' | relative_url }}"></script> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- styles -->
	<!-- <link rel="stylesheet" href="{{ '/assets/css/fontawesome/all.min.css' | relative_url }}"> -->
	<link rel="stylesheet" href="{{ '/assets/css/bootstrap/css/bootstrap.min.css' | relative_url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">

	{% include analytics.html %}
</head>