<div class="row social-area">
    <div class="col">
        <h2>Social Media</h2>

        <div class="row">
            <div class="col">
                <a class="btn btn-lg" target="_blank" href="https://twitter.com/maylordev">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <div>
                    @MaylorDev
                </div>
            </div>
            <div class="col">
                <a class="btn btn-lg" target="_blank" href="https://www.linkedin.com/in/matthew-taylor-8675309/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <div>
                    LinkedIn
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-lg" target="_blank" href="https://stackoverflow.com/users/1848526/maylortaylor">
                    <i class="fab fa-stack-overflow"></i>
                </a>
                <div>
                    StackOverflow
                </div>
            </div>
            <div class="col">
                <a class="btn btn-lg" target="_blank" href="https://github.com/maylortaylor">
                    <i class="fab fa-github-square"></i>
                </a>
                <div>
                    Github
                </div>
            </div>
        </div>

    </div>
</div>