---
---

// ******************************************************** 
// * Variables 
// ******************************************************** // 
// * Several accent colors, choose one or create your own!
$dark: #0F0922;
$dark-font-color: #848383;
$light-font-color: #dddddd;
$white: #fff;
$block-quote: #bbbbbb;
$accent-color: #3ca2a2;
$accent2-color: #ee6c4d;
$header-color: #004a8f;
$header2-color: #454e9e;
$share-buttons-color: #104547;
$background-color: #292929;
$post-panel-color: #39393a;
$pre-code-color: #007bff;
$footer-background-color: #292c2f;
$warning-color: #ffff00; // use this or pick any from /css/pics/background folder or from transparenttextures.com
$background-pattern: 'axiom-pattern.png';
@import 'timeline'; // Import partials from _sass
@import 'cv';
@import 'share';
@import 'mixins';

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
// * Main / Important
// * ---------------------------------------

body {
	background: rgb(30,28,149);
	background: radial-gradient(circle, rgba(30,28,149,1) 40%, rgba(15,18,55,1) 100%);
}
body, h1, h2, h3 {
	color: $white !important;
	font-family: Montserrat !important;
}
ul {
	padding: 20px;
}
.no-padding {
	padding: 0px !important;
}

.background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	display: block;
    background-image: url('/assets/css/pics/face.jpg') !important;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.section {
	position: relative;
	overflow: hidden;
	min-height: 110px;
	padding: 0px;
	width: 100% !important;
}
.section-padding {
	padding-top: 61px;
	padding-bottom: 81px;
}
.section-padding-more {
	padding-top: 161px;
	padding-bottom: 181px;
}
.small-divider {
	padding-top: 120px;
	padding-bottom: 100px;
	min-height: 140px;
	width: 100%;
}
.medium-divider {
	padding-top: 161px;
	padding-bottom: 181px;
	min-height: 240px;
	width: 100%;
}
.maylor-image {
	border-radius: 50%;
	opacity: 0.8;
	-webkit-animation: halo-animation 10s infinite;

}
.center-footer-items {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}
$color1: #401255;
$color2: #3A3276;
$color3: #2B4970;
$color4: #28774F;
$color5: #2B4970;
$color6: #3A3276;
$color7: #401255;
$color8: #401255;
@-webkit-keyframes halo-animation {
	0% {
		box-shadow: 0 0 35px 10px $color1;
	}
	13% {
		box-shadow: 0 0 35px 10px $color2;
	}
	38% {
		box-shadow: 0 0 35px 10px $color3;
	}
	50% {
		box-shadow: 0 0 35px 10px $color4;
	}
	63% {
		box-shadow: 0 0 35px 10px $color5;
	}
	75% {
		box-shadow: 0 0 35px 10px $color6;
	}
	88% {
		box-shadow: 0 0 35px 10px $color7;
	}
	100% {
		box-shadow: 0 0 35px 10px $color8;
	}
}
.maylor-image.animated {
	-webkit-animation: filter-animation 10s infinite;
}
@-webkit-keyframes filter-animation {
	0% {
		-webkit-filter: sepia(0) saturate(0);
		box-shadow: 0 0 35px 10px $color1;
	}
	13% {
		-webkit-filter: sepia(1) saturate(1);
		box-shadow: 0 0 35px 10px $color2;
	}
	38% {
		-webkit-filter: sepia(1) saturate(2);
		box-shadow: 0 0 35px 10px $color3;
	}
	50% {
		-webkit-filter: sepia(2) saturate(3);
		box-shadow: 0 0 35px 10px $color4;
	}
	63% {
		-webkit-filter: sepia(2) saturate(3);
		box-shadow: 0 0 35px 10px $color5;
	}
	75% {
		-webkit-filter: sepia(1) saturate(2);
		box-shadow: 0 0 35px 10px $color6;
	}
	88% {
		-webkit-filter: sepia(1) saturate(1);
		box-shadow: 0 0 35px 10px $color7;
	}
	100% {
		-webkit-filter: sepia(0) saturate(0);
		box-shadow: 0 0 35px 10px $color8;
	}
}

.sunset .blur {
	background: inherit;
	height: 100vh; 
	width: 166.667%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(
	  -10%,
	  -30%
	);
	filter: blur(2px);
	z-index: -1;
}
.tree .blur {
	background: inherit;
	height: 100vh; 
	width: 166.667%;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(
	  -10%,
	  -30%
	);
	filter: blur(2px);
	z-index: -1;
}
.sunset .content {
    background: inherit;
    width: 70%;
    height: 70%;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.tree .content {
    background: inherit;
    width: 70%;
    height: 75%;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.sunset .text {
	padding: 16px;
	background: rgba(255, 255, 255, 0.3);
	height: 100%;
	box-sizing: border-box; 
}
.tree .text {
	padding: 16px;
	background: rgba(255, 255, 255, 0.3);
	height: 100%;
	box-sizing: border-box; 
}

.sunset {
	background-image: url('/assets/media/sunset.jpg') !important;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	width: 100%;
	height: 700px;
}

.shine {
	background-image: url('/assets/media/mural3.jpg') !important;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	width: 100%;
	height: 700px;
}
.tree {
	background-image: url('/assets/media/tree.jpg') !important;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	width:100%;
	height: 800px;
}
.bg-color-2 {
	background-color: $header-color;
	width:100%;
}


// MDL overrides
.mdl-layout__content {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}
.mdl-layout__header {
	// background: transparent !important;
	background: rgb(0,17,102);
	background: linear-gradient(0deg, rgba(0,17,102,1) 50%, rgba(15,18,55,1) 100%);
}
.mdl-layout-title {
	font-family: Montserrat !important;
}
a {
	text-decoration: none;
	color: $accent2-color;
}

a:hover {
	text-decoration: underline;
}

p {
	@include font-size(1.5);
	line-height: 1.4em;
}

a span, a:hover  {
	color: $light-font-color;
}



// * Structures
// * ---------------------------------------
// * Navbar
.maylor-layout .mdl-layout__header,
.maylor-layout .mdl-layout__drawer-button {
  color: $dark-font-color;
}
// * Header
.header {
	background-color: $header-color;
	border-radius: 12px;
	text-align: center;
}
.headshot-pic {
	margin: 10px;
}

// * Footer

footer {
	@include font-size(0.8);
	display: inline;
	padding: 10px;
	font-weight: bold;
	background:transparent !important;
	a {
		color: $light-font-color;
	}
	a:hover {
		color: $light-font-color;
		text-decoration: underline;
	}
}
.foot {
	border-top: 1px solid $dark-font-color;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

// * Components
// * ---------------------------------------
// * Headings
h1 {
	@include font-size(3.5);
}
h2 {
	@include font-size(2.4);
}
h3 {
	@include font-size(1.7);
}
h4 {
	@include font-size(1.2);
}
blockquote {
	color: $block-quote;
	@include font-size(1);
} 

// * Other
i.fab{
	font-size: font-size(20)
}
.mdl-mega-footer__link-list li {
	width: 20%;
}
.center-text {
	text-align: center;
}
.center {
	margin: 0 auto !important;
}
.page-content {
	margin: 0px;
}
.push-down {
	margin-top: 70px !important;
}
.push-down-more {
	margin-top: 140px !important;
}

.no-point {
	text-align: center;
	li {
		list-style-type: none;	
	}
}

.rounded-circle {
	border-width: 10px;
	border-style: groove;
	border-radius: 50% !important;
	border-color: $header2-color;
}

.post-container {
	padding: 10px;
}

.navigation {
	border-bottom: 1px solid $dark-font-color;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

ul.posts {
	margin: 20px auto 40px;
	@include font-size(1.5);
}

ul.posts li {
	list-style: none;
}

.cv-area {
	margin-bottom: 50px;
}

.g-maps {
	text-align: center;
}

.tags {
	padding: 10px 0px 10px 0px;
	i {
		@include font-size(3);
	}
	a {
		text-decoration: none;
	}
}

.social-area {
	text-align: center;
	padding: 10px 0px 10px 0px;
	i {
		@include font-size(3);
	}
}

.csm-seal {
	margin:5px;
}


// * Media
// * ---------------------------------------
// * Smartphones (portrait and landscape) -----------
@media only screen and (max-width: 360px) {
	footer ul li {
		margin-right: 3% !important;
		margin-left: 3% !important;
	}
	.sunset .content {
		width: 90%;
		height: 80%;
	}
	.tree .content {
		width: 90%;
		height: 90%;
	}
	.center-footer-items {
		display: block;
	}
}
@media screen and (max-width: 600px) {
	.heading-large {
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 600px) {
	.header {
		@include font-size(1);
	}
	.rounded-circle {
		float: none !important;
	}
}
@media screen and (max-width: 600px) {
	.g-maps {
		visibility: hidden;
		display: none;
	}
}