---
---

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
  }
  @mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }

//********************************************************
//                    Variables
//********************************************************

// Several accent colors, choose one or create your own!
$accent-color: #3CA2A2;    // original =)
//$accent-color: #C38FD6;  // velvet
//$accent-color: #8FD6B3;  // greenish
//$accent-color: #35B4DE;  // bluish
//$accent-color: #D2E354;  // yellowish
//$accent-color: #52B54B;  // green

$font-color: #dddddd;
$background-color: #292929;
$post-panel-color: #39393a;
$pre-code-color: #007bff;
$footer-background-color: #292c2f;
$note-color: #87CEFA;
$warning-color: #ffff00;
// use this or pick any from /css/pics/background folder or from transparenttextures.com
$background-pattern: 'axiom-pattern.png';

body {
    font-family: 'Raleway', sans-serif;
    margin: 40px auto;
    width: 70%;
    color: $font-color;
    background: $background-color url(pics/backgrounds/#{$background-pattern});
}
a {
  color: $accent-color;
}
blockquote {
    color: #bbb;
    font-size: 1em;
}
pre code {
    color: $pre-code-color !important;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 360px) {
    footer ul li {
        margin-right: 3% !important;
        margin-left: 3% !important;
    }
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-container {
    padding: 10px;
}
.navigation {
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}
nav ul, footer ul {
    text-align: end;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer {
    font-size: .8em;
    display: inline;
}
.foot {
    border-top: 1px solid #d5d5d5;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #2E90C4;
}
a:hover {
    text-decoration: underline;
}
.header {
    background-color: #004A8F;
    border-radius: 12px;
}
.headshot-pic {
    margin:10px;
}
h1 {
    font-size: 3em;
    color: #fff;
    padding: 10px;
}
h2 {
    background-color: #454E9E;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: $font-color;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.cv-area {
    margin-bottom: 50px;
}

//********************************************************
//                    Share
//********************************************************
.share-bar{
  text-align: right;
}

ul.share-buttons {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    .fa-facebook-f,
    .fa-twitter,
    .fa-google-plus-g,
    .fa-linkedin-in,
    .fa-envelope,
    .fa-pinterest-p {
      color: #ffffff
    }
    a {
      text-decoration: none;
    }
    -webkit-transition: -webkit-transform .4s;
    -moz-transition: -moz-transform .4s;
    -ms-transition: -ms-transform .4s;
    -o-transition: -o-transform .4s;
    transition: transform .4s;
  }

  // Square frame
  li.share-facebook .fa-square { color: #3B5998;}
  li.share-twitter .fa-square { color: #55acee;}
  li.share-google-plus .fa-square { color: #dd4b39;}
  li.share-linkedin .fa-square { color: #4875B4;}
  li.share-pinterest .fa-square { color: #BD081C;}
  li.share-envelope .fa-square { color: #3B5998;}
  // Circle frame
  li.share-facebook .fa-circle { color: #3B5998;}
  li.share-twitter .fa-circle { color: #55acee;}
  li.share-google-plus .fa-circle { color: #dd4b39;}
  li.share-linkedin .fa-circle { color: #4875B4;}
  li.share-pinterest .fa-circle { color: #BD081C;}
  li.share-envelope .fa-circle { color: #3B5998;}

  li:hover {
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -ms-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
  }
}