---
---

// ******************************************************** // Variables // ******************************************************** // Several accent colors, choose one or create your own!
$font-color: #dddddd;
$block-quote: #bbbbbb;
$accent-color: #3ca2a2;
$accent2-color: #ee6c4d;
$header-color: #004a8f;
$header2-color: #454e9e;
$share-buttons-color: #104547;
$background-color: #292929;
$post-panel-color: #39393a;
$pre-code-color: #007bff;
$footer-background-color: #292c2f;
$warning-color: #ffff00; // use this or pick any from /css/pics/background folder or from transparenttextures.com
$background-pattern: 'axiom-pattern.png';
@import 'timeline'; // Import partials from _sass
@import 'cv';
@import 'share';
@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 40px auto;
	width: 90%;
	color: $font-color;
	background: $background-color url(pics/backgrounds/#{$background-pattern});
}
a {
	color: $accent-color;
}
blockquote {
	color: $block-quote;
	font-size: 1em;
} /* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 360px) {
	footer ul li {
		margin-right: 3% !important;
		margin-left: 3% !important;
	}
}
.rounded-circle {
	border-width: 10px;
	border-style: groove;
	border-radius: 50% !important;
	border-color: $header2-color;
}
.text-container {
	padding: 10px;
}
.navigation {
	border-bottom: 1px solid $font-color;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
@media screen and (max-width: 600px) {
	.header-name {
		padding-bottom: 20px;
	}
}
nav ul,
footer ul {
	text-align: end;
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
footer {
	font-size: 0.8em;
	display: inline;
}
.foot {
	border-top: 1px solid $font-color;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: $accent-color;
}
a:hover {
	text-decoration: underline;
}
@media screen and (max-width: 600px) {
	.header {
		font-size: 1em !important;
	}
	.rounded-circle {
		float: none !important;
	}
}
.header {
	background-color: $header-color;
	border-radius: 12px;
	text-align: center;
}
.headshot-pic {
	margin: 10px;
}
h1 {
	font-size: 3em;
	color: #fff;
	padding: 10px;
}
h2 {
	background-color: $header2-color;
	color: #fff;
	padding: 10px;
	border-radius: 12px;
	font-size: 2em;
	text-align: center;
}
p {
	font-size: 1.5em;
	line-height: 1.4em;
}
ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}
ul.posts li {
	list-style: none;
}
.cv-area {
	margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
	.g-maps {
		visibility: hidden;
		display: none;
	}
}
.g-maps {
	text-align: center;
}
.tags {
	list-style: none;
}
